@tailwind base;

@layer base {
	:root {
		color-scheme: light;
		--theme-bg: #f5f4f2;
		--theme-link: #757cbb;
		--theme-text: #2d2f3c;
		--theme-accent: #757cbb;
		--theme-accent-2: #111;
		--theme-quote: #a65e65;
		--theme-menu-bg: rgb(250 250 250 / 0.6);
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: #3b3a4a;
		--theme-link: #a65e65;
		--theme-text: #f5f4f2;
		--theme-accent: #bfd1b1;
		--theme-accent-2: #eee;
		--theme-quote: #bfd1b1;
		--theme-menu-bg: rgb(29 31 33 / 0.85);
	}

	html {
		@apply h-full scroll-smooth border-t-2 border-textColor;
	}

	html body {
		@apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}

@tailwind components;
@tailwind utilities;