---
// import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
// import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
// import { sortMDByDate } from "@/utils";
import { Image } from "@astrojs/image/components";

import profileImg from "../assets/evey-profile.png";


// const MAX_POSTS = 10;
// const allPosts = await getCollection("post");
// const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="space-y-6">
		<!-- <h1 class="title mb-6">Evey Huang</h1> -->
		
		<div class="flex justify-center">
			<Image
				src={profileImg}
				width={160}
				loading="eager"
			/>
		</div>
		<div >
			<p class="mb-4" class="flex justify-right">
				Hi! I'm Evey (yes, like the Pokémon). I’m currently a postdoctoral research fellow at Kellogg School of Management and the Northwestern Institute on Complex Systems (NICO), working with Prof. <a href='https://www.kellogg.northwestern.edu/faculty/directory/uzzi_brian/'>Brian Uzzi</a>.

				<br><br>
				My research sits at the intersection of human-AI collaboration, design research, and computational social science. I design, build, and study human-AI systems that help people learn, reflect, and collaborate more effectively—especially in complex, real-world domains like entrepreneurship, scientific discovery, and innovation. I earned my Ph.D. from the Technology and Social Behavior program, a joint degree in Computer Science and Communication at Northwestern, where I was fortunate to be advised by <a href='https://egerber.mech.northwestern.edu'>Prof. Liz Gerber</a> and <a href='http://matteasterday.com'>Prof. Matt Easterday</a> .
				
				<br><br>
				Right now, I’m exploring how we can use multimodal AI to understand team dynamics and behaviors that lead to high-impact science, and investigating how AI is reshaping how scientists work, collaborate, and generate knowledge.

				<br><br>
				When I’m not doing research, you’ll probably find me behind a camera (digital or film), on a tennis court, reading, doodling, cooking spicy food, or hanging out with my chubby cat, Jumi.
				<br><br>  You can contact me at evey.huang@kellogg.northwestern.edu
			</p>
		</div>
		
		<SocialList />
	</section>


	<!-- <section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">News</h2>
		<ul class="space-y-4 sm:space-y-2">
			
			<li>
				<p class="inline-block sm:mt-2"> <b>Jul 21-24, 2025</b> | Norrköping, Sweden | Attending IC2s2 2025! </p>
			</li>

			<li>
				<p class="inline-block sm:mt-2"> <b>May 12, 2025</b> | Evanston, USA | Gave a talk at Northwestern Center for Behavior Intervention Technologies (CBIT) on our work on proactive human-AI collaboration.. </p>
			</li>

			<li>
				<p class="inline-block sm:mt-2"> <b>Apr 02, 2025</b> | Evanston, USA | Gave a talk at Microsoft AI & Society research seminar on our work on proactive AI that helps us help each other. </p>
			</li>

			<li>
				<p class="inline-block sm:mt-2"> <b>Feb 05, 2025</b> | Evanston, USA | First day as a postdoc at NICO, working with Prof. <a href='https://www.kellogg.northwestern.edu/faculty/directory/uzzi_brian/'>Brian Uzzi</a>!</p>
			</li>

			<li>
				<p class="inline-block sm:mt-2"> <b>Nov 11, 2024</b> | Evanston, USA | I have successfully defended my dissertation! Now I am Dr. Evey :) </p>
			</li>

			<li>
				<p class="inline-block sm:mt-2"> <b>Jul 1-5 2024</b> | Copenhagen, Denmark | Presenting <u><a href='https://dl.acm.org/doi/abs/10.1145/3643834.3661623'></a></u>our paper that has own honorable mention</a></u> at DIS2024</p>
			</li>

			<li>
				<p class="inline-block sm:mt-2"> <b>Oct 14-18 2023</b> | Minneapolis, USA | Presenting <u><a href='https://doi.org/10.1145/3579614'></a></u>our paper on Intelligent Coaching Systems</a></u> at CSCW2023</p>
			</li>
			
			<li>
				<p class="inline-block sm:mt-2"> <b>Apr 23-28 2023</b> | Hamburg, Germany | I will be attending CHI this week to attend a <u><a href="https://chi2023digitalskillsforthecreativepractitioner.wordpress.com">workshop on supporting learning in informal learning environments</a></u>. </p>
			</li>

			<li>
				<p class="inline-block sm:mt-2"> <b>Oct 22-25 2022 </b>| Evanston, USA | Attended the Lambert Conference on the Future of Human-Computer Interaction + Design and organized a poster session to showcase research from Northwestern community.  </p>
			</li>
			
			
		</ul>
	</section>
	
</PageLayout>
