---
// import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
// import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
// import { sortMDByDate } from "@/utils";
import { Image } from "@astrojs/image/components";

import profileImg from "../assets/evey-profile.png";


// const MAX_POSTS = 10;
// const allPosts = await getCollection("post");
// const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section class="space-y-6">
		<!-- <h1 class="title mb-6">Evey Huang</h1> -->
		
		<div class="flex justify-center">
			<Image
				src={profileImg}
				width={160}
				loading="eager"
			/>
		</div>
		<div >
			<p class="mb-4" class="flex justify-right">
				Hello! My name is Evey (pronounced like the Pokemon). My research interest lies at the intersection of HCI, AI, and education. I use design research methods to design and build mixed-initiative human-AI systems that can support coaching and learning in real-world, ill-defined domains like design education and entrepreneurship. <br><br>
				
				I am currently a 4th year PhD student in Technology and Social Behavior (TSB), a joint program between Computer Science and Communication at Northwestern University. I am advised by <a href='https://egerber.mech.northwestern.edu'>Dr. Liz Gerber</a> and <a href='http://matteasterday.com'>Dr. Matt Easterday</a> and a member of the <a href='https://delta.northwestern.edu'>Delta Lab</a>. Prior to grad school, I worked with <a href='https://juhokim.com'>Dr. Juho Kim</a> at <a href='kixlab.org'>Kixlab</a>, KAIST for one year as a research intern. I received my bacholors degree from UC Berkeley where I worked in the <a href='http://www.hybrid-ecologies.org/'>Hybrid Ecologies Lab</a> with Dr. Sarah Sterman and Dr. Eric Paulos. <br> <br>


				Outside of research, I spend my free time on photography (both digital and analog), tennis, doodling, music, and cooking. 

				<br><br>  You can contact me at eveyhuang@u.northwestern.edu
			</p>
		</div>
		
		<SocialList />
	</section>


	<!-- <section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">News</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<p class="inline-block sm:mt-2"> <b>Apr 23-28 2023</b> | Hamburg, Germany | I will be attending CHI this week to attend a <u><a href="https://chi2023digitalskillsforthecreativepractitioner.wordpress.com">workshop on supporting learning in informal learning environments</a></u>. </p>
			</li>

			<li>
				<p class="inline-block sm:mt-2"> <b>Oct 22-25 2022 </b>| Evanston, USA | Attended the Lambert Conference on the Future of Human-Computer Interaction + Design and organized a poster session to showcase research from Northwestern community.  </p>
			</li>
			
			
		</ul>
	</section>
	
</PageLayout>
