---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Publications",
	description: "list of publications",
};

---

<PageLayout meta={meta}>
    <h1 class="title">Publications</h1>
    <section class="mt-8">
		<h2 class="title mb-1 text-xl">Conference & Journal Papers</h2>
		
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<p class="inline-block sm:mt-6">[1] <b>AI That Helps Us Help Each Other: A Proactive System for Scaffolding Mentor-Novice Collaboration in Entrepreneurship Coaching [In Review]</b> 
					<br> Evey Huang, Matthew Easterday, Elizabeth Gerber (2025) 
                    [<u><a href="https://dl.acm.org/doi/abs/10.1145/3643834.3661623">link</a></u>]
				</p> 
				
				<p class="inline-block sm:mt-6">[2] <b>Opportunities, tensions, and challenges in computational approaches to addressing online harassment [Honorable Mention]</b> 
					<br> Evey Huang, Abhraneel Sarma, Sohyeon Hwang, Eshwar Chandrasekharan & Stevie Chancellor. 2024. Proc. ACM Designing Interactive Systems Conference (2024) 
                    [<u><a href="https://dl.acm.org/doi/abs/10.1145/3643834.3661623">link</a></u>]
				</p> 

				<p class="inline-block sm:mt-6">[3] <b>Intelligent Coaching Systems: Understanding One-to-many Coaching for Ill-defined Problem Solving</b> 
					<br> Evey Huang, Daniel Rees Lewis, Shubhanshi Gaudani, Matthew Easterday & Elizabeth Gerber. 2023. Proc. ACM Hum.-Comput. Interact. 7, CSCW1, Article 138 (April 2023) 
                    [<u><a href="https://doi.org/10.1145/3579614">link</a></u>]
				</p> 

				<p class="inline-block sm:mt-6">[4] <b>Designing a Model for Deliberation-based Learning</b> 
					<br> Spencer Carlson, Kristine Lu, Evey Huang, Elizabeth Gerber & Matthew Easterday. 2020. In International Conference of the Learning Sciences (2020) 
                    [<u><a href="https://www.researchgate.net/publication/339912236_Designing_a_Model_for_Deliberation-Based_Learning">link</a></u>]
				</p>

                <p class="inline-block sm:mt-6">[5] <b>Interacting with Literary Style through Computational Tools</b> 
					<br> Sarah Sterman, Evey Huang, Vivian Liu & Eric Paulos. 2020.  In Proceedings of the 2020 CHI Conference on Human Factors in Computing Systems (CHI '20)  
                    [<u><a href="https://dl.acm.org/doi/10.1145/3313831.3376730">link</a></u>]
				</p>

                <p class="inline-block sm:mt-6">[6] <b>No More One Liners: Bringing Context into Emoji Recommendations</b> 
					<br> Joon-Gyum Kim, Taesik Gong, Bogoan Kim, JaeYeon Park, Woojeong Kim, Evey Huang, Kyungsik Han, Juho Kim, JeongGil Ko & Sung-Ju Lee. In ACM Transactions on Social Computing (TSC '19) 
                    [<u><a href="https://dl.acm.org/doi/abs/10.1145/3373146">link</a></u>]
				</p>
				
				
			</li>
			
		</ul>
	</section>

    <section class="mt-16">
		<h2 class="title mb-1 text-xl">Workshop & Conference Presentations</h2>
		
		<ul class="space-y-4 sm:space-y-2">
			<li>
                <p class="inline-block sm:mt-6">[1] <b>Designing Technology to Support Coaching in Informal Learning Environments</b>
                    <br> Evey Huang, Daniel Rees Lewis, Matthew Easterday & Elizabeth Gerber. 2023. In Helgason I. et al., (Chairs), Digital Skills for the Creative Practitioner: Supporting Informal Learning of Technologies for Creativity.
                    Workshop conducted at the ACM Conference on Human Factors in Computing Systems (CHI ’23)
                    [<u><a href='https://chi2023digitalskillsforthecreativepractitioner.files.wordpress.com/2023/04/chi23_informal_learning.pdf'>link</a></u>]
                </p>
				<p class="inline-block sm:mt-6">[2] <b>Designing Intelligent Coaching Systems to Support Equitable Engagement in Making </b>
                    <br> Evey Huang, Matthew Easterday, Elizabeth Gerber. 2022. In Turakhia D. et al., (Chairs), Reimagining Systems for Learning Hands-on Creative and Maker Skills. Workshop conducted at the ACM Conference on Human Factors in Computing Systems (CHI ’22)</p> 
                    [<u><a href='https://drive.google.com/file/d/1YXq4ev17ana0sbxdgX2ie0BwLN9uLEDG/view?usp=sharing'>link</a></u>]

				<p class="inline-block sm:mt-6">[3] <b>Encouraging Disagreements to Integrate Diversity in Collective Intelligence </b> 
					<br> Evey Huang, Matthew Easterday, Elizabeth Gerber. 2020. In Bardzell, S. et al., (Chairs), Moving Forward Together: Effective Activism for Change. Workshop conducted at the ACM Conference on Human Factors in Computing Systems (CHI ’20)
				</p>
				
				
			</li>
			
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="title mb-1 text-xl">Dissertation</h2>
		
		<ul class="space-y-4 sm:space-y-2">
			<li>
                <p class="inline-block sm:mt-6">[1] <b>Human-AI Collaboration For Entrepreneurship Coaching: Leveraging a Cognitive Model and an LLM to Provide Proactive, Adaptive, and Differentiated Support</b>
                    <br> Evey Huang
                    [<u><a href='https://www.proquest.com/openview/d0591dc834a0e8bf80c41883948c8e5d/1?cbl=18750&diss=y&pq-origsite=gscholar'>link</a></u>]
                </p>
				
				
			</li>
			
		</ul>
	</section>


</PageLayout>